*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: #ccc;
}

.clear{
    clear: both;
}

.center{
    margin: 0 auto;
}

.body{
    position: relative;
    width: 900px;
    height: 100%;
    max-width: 100%;
}

.coluna1{
    float: left;
    margin-top: 8%;
    width: 50%;
    height: 80%;

}

.coluna2{
    margin-top: 10%;
    float: left;
    width: 50%;
    height: 80%;  
}

.img-phone{
    padding: 5px;
    top: -60px;
    position: relative;
    width: 100%;
    height:120%;
    background-image: url(../img/instagram-celular.png);
    background-position: center;
    background-size: cover;
}

.quadro{
    margin: 0 auto;
    margin-top: 45px;
    width: 90%;
    height: 84%;
    padding: 0 5px;
    max-width: 350px;
}


.box1{
    width: 100%;
    height: 250px;
    border: 2px solid gray;
    background-color: white;
}

.logo{
    margin-top: 5px;
    width: 100%;
    height: 50px;
    background-image: url(../img/instagram-logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-picture{
    margin-top: 15px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-image: url(../img/perfil-insta.jpg);
    background-position: center;
    background-size: contain;
}

.linkb1{
    margin-top: 17px;
    display: block;
    width: 80%;
    height: 40px;
}
.link1{
    text-align: center;
    border-radius: 3px;
    border: 1px solid blue;
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: block;
    width: 70%;
    height: 18px;
    background-color: blue;
    box-sizing: initial;
    padding: 3px;
}

.link2{
    font-size: 14px;
    margin-top: 8px;
    text-decoration: none;
    width: 80%;
    display: block;
    text-align: center;
    color: blue;
}

.box2{
    margin-top: 30px;
    width: 100%;
    height: 60px;
    border: 2px solid gray;
    background-color: white;
}

.linkb2{
    padding: 6px;
    display: block;
    width: 80%;
    height: 40px; 
}

.link3{
    display: block;
    text-align: center;
    width: 70%;
    height: 18px;
    text-decoration: none;
    font-size: 15px;
    color: #ccc;
}

.link4{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-left: 20px;
}

.link5{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.box3{
    width: 100%;
    height: 100px;
    margin-top: 15px;
    padding: 5px;
}

.box3 p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.cios{
    float: left;
    width: 100%;
    height: 70%;
    background-image: url(../img/apple-button.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 50%;
}

.cand{
    float: left;
    width: 100%;
    height: 70%;
    background-image: url(../img/googleplay-button.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 50%;
}